Chapter_23/MagicEightBallServiceHTTPDefaultBindings/MagicEightBallServiceClient/Connected Services/ServiceReference1/MagicEightBallService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://MyCompany.com" elementFormDefault="qualified" targetNamespace="http://MyCompany.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtainAnswerToQuestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userQuestion" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtainAnswerToQuestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtainAnswerToQuestionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>